@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #FFFAE6;
    --main-color: #FF9F66;
    --text-color: #002379;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    background-image: url(https://mardoqueiro.github.io/all_images/swegga/Study.Wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: var(--text-color);
    margin-bottom: 20px;
}

.todo-container {
    width: 450px;
    height: 200px;
    padding: 30px;
    background: transparent;
    border: 2px solid var(--text-color);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo-input {
    flex: 1;
    outline: none;
    padding: 10px 10px 10px 20px;
    background-color: transparent;
    border: 2px solid var(--text-color);
    border-radius: 30px;
    color: var(--text-color);
    font-size: 16px;
    margin-right: 10px;
}

.add-btn,
.sort-btn {
    border: none;
    outline: none;
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    min-width: 60px;
}

.add-btn:hover,
.sort-btn:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.todo-list {
    flex: 1;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.filter {
    color: #f5f5f5;
    padding: 5px 15px;
    border-radius: 100px;
    border: 2px solid var(--text-color);
    transition: all 0.2s ease;
    cursor: pointer;
}

.todo-list li input:checked + span {
    text-decoration: line-through;
    color: var(--text-color);
}